<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/Log_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="DebugFile" xsi:type="File" fileName="${basedir}/Logs/Debug_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="WarnFile" xsi:type="File" fileName="${basedir}/Logs/Warn_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="Errorfile" xsi:type="File" fileName="${basedir}/Logs/Error_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="Fatalfile" xsi:type="File" fileName="${basedir}/Logs/Fatal_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="TraceFile" xsi:type="File" fileName="${basedir}/Logs/Trace_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="DBTraceFile" xsi:type="File" fileName="${basedir}/Logs/DBTrace_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="JSTraceFile" xsi:type="File" fileName="${basedir}/Logs/JSTrace_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="RPInfo" xsi:type="File" fileName="${basedir}/Logs/RPInfo_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="MBInfo" xsi:type="File" fileName="${basedir}/Logs/MBInfo_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="MBerror" xsi:type="File" fileName="${basedir}/Logs/MBError_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="REDISInfo" xsi:type="File" fileName="${basedir}/Logs/REDISInfo_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target xsi:type="Mail" name="Mail" html="True" addNewLines="True" replaceNewlineWithBrTagInHtml="True" subject="Error_localhost" to="noams@pointer.com" from="no_reply@pointer.com" body="${message}" useSystemNetMailSettings="True" />
  </targets>

  <rules>
    <logger name="Current" level="Info" writeTo="file" />
    <logger name="Current" level="Debug" writeTo="DebugFile" />
    <logger name="Current" level="Error" writeTo="Errorfile"  />
    <logger name="Current" level="Warn" writeTo="Warnfile"  />
    <logger name="*" minlevel="Fatal"  writeTo="Fatalfile"/>
    <logger name="Current" level="Trace"  writeTo="TraceFile" />
    <logger name="DB" levels="Trace,Info,Debug"  writeTo="DBTraceFile" />
    <logger name="JS" levels="Trace,Info"  writeTo="JSTraceFile" />
    <logger name="REPORT" levels="Info,Trace,Debug"  writeTo="RPInfo" />
    <logger name="MOBILE" levels="Info,Trace,Debug"  writeTo="MBInfo" />
    <logger name="MOBILE" levels="Error,Fatal"  writeTo="MBerror" />
    <logger name="CACHE" level="Info"  writeTo="REDISInfo" />
  </rules>

</nlog>